body{
    background-image: url("images/greystone.png");
    
  
    font-size: 18px;
}

.name{
   
    padding: 20px 30px;
   margin: 30px 0px 0px 0px;
    background-color: #4aaaa5
}
.header{
    background: white;
    text-align: justify;
    list-style-type: inherit;
    margin: 0px;
    padding: 0;
    width: 100%;
}
    
section{
    
    padding: 20px;
}

.content{
   background-color: #ffffff;
   width: 960px;
   position: sticky;
   left: 20%;
   margin-left: -40px;
   bottom: 10%;
   margin-bottom: -30px;

   


}


.header::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;

}
.text1{

    text-align: left;
    float: right;
}

h1{
    
    list-style: none;
    display: inline-block;
     text-align: left;
     margin-bottom: 10px;
     width: 100%;
     
    
     
}
hr{

    
}




.nav{
    list-style: none;
    margin-bottom: 10px;
    width: 100%;
    text-align: right;
    height: 10px;
   display: inline-block;
   vertical-align: baseline;
    background:white;
}

.navmenu{
    
    list-style-type: inherit;
    margin: 0px;
    padding: 0;
    width: 100%;
}

.nav a{
   
    padding: 10px;
    text-decoration: none;
    float: right;
}





.text1{
    float: left;
    display: inline-flex;
   vertical-align: bottom;

}
.text2{
    display: inline-flex;
    vertical-align: top
}


.blborder{
    
    color: #4aaaa5;
    box-sizing: border-box;
    width: 250px;
    padding: 25px


    
}

footer{
    background-color: #666666;
    border-top: solid lightseagreen 5px;    
    position: fixed;
    bottom:0;
    width:100%;
    height: 60px;
}
.center{
    text-align: center;
    color: white;
    font-size: 7px;
    bottom: 0;
}

img{
    padding: 20px;
}

.submit{
    float: none;
    position: relative;
    padding: 20px;
    background: lightseagreen;
    color: white;
    margin: 21px;

}

.messageinput{
    margin: 20px;
    margin-right: 500px;
}

#sect1{
   
   
   display: inline-flex;
}

