html,
body{
    
  
    font-size: 18px;
}
.cover-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.cover-sub-title{
    
    font-style: italic
}
.click{
    color: #007bff
}

.card{
    background-color:transparent
    
}

.a:hover{background-color: teal}

.card-text{
    display: inline-block;
    color: #007bff;
}
.card-body{
    display: inline-block;
    color: rgb(250, 9, 210)
}


.cover::before{
    background-image: url(images/mountian.png);
    background-size: cover;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
opacity: 0.4;
}

.text-muted{
    color: blue
}



.content{
    border-top: 2px solid black;
   background-image: url(images/redkey.png);
   background-size: cover;

}


.header::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;

}

.blborder{
    color: rgb(250, 9, 210)

}
.text1{
 word-spacing: 2px;
font-family: fantasy;
text-align: left;
word-wrap: break-word; 
float: left;
display: inline-flex;
vertical-align: bottom;

   
}

.card-text1{
    color: aqua
}






.nav{
    list-style: none;
   
    width: 100%;
    text-align: right;
    height: 10px;
   display: inline-block;
   vertical-align: baseline;
   
}

.navmenu{
    
    list-style-type: inherit;
    margin: 0px;
    padding: 0;
    width: 100%;
}

.nav a{
   font-size: 20px;
    padding: 10px;
    text-decoration: none;
    float: right;
}

.proj{
    position: relative;
}

.card-img-top {
  
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-title{
    text-align: left;
}

.card-deck{
    width: 100%;
    height: 86%;
}







footer{
    
   
   
    position: relative;
    bottom:0;
    width:100%;
    height: 60px;
    
}
.center{
    text-align: center;
   
} 

img{
    padding: 20px;
}



.messageinput{
    margin: 20px;
    margin-right: 500px;
}



